@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Note>
<div class="m-2" id="updateMessage"></div>
<div class="text-center">
    @*Add note form*@
    <form asp-action="CreateNote" asp-controller="Home" method="post">
        @Html.AntiForgeryToken()
        <div id="blockNewNote" style="display:none; background-color:#C4C4C4; margin-left:30px;" class="p-2 mt-3">
            <div class="p-2 w-100 d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
                <input name="lastId" value="@Model.Count()" style="display:none; " />
                <input name="title" type="text" placeholder="Title New Note" class="my-0 align-self-center" required />
                <div>
                    <button type="submit" class="btn btn-sm btn-light"><span class="small">Create Note</span></button>
                </div>
            </div>
            <textarea name="text" style="height:200px;" class="w-100 m-2" required></textarea>
        </div>
    </form>

    @*Block for new note in SignalR*@
    <ul class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between" id="notes">
        
    </ul>

   @* A block with notes that we received during the first request from the database*@
    <ul class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">

        @foreach (var note in Model)
        {
            <li style="display:flex; background-color:#C4C4C4;" class="note mt-3 w-100 p-2 text-bg-dark   flex-wrap align-items-center justify-content-between justify-content-lg-between">
                <div class="p-2 w-100 d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
                    <p class="myNoteTitle my-0 align-self-center" style="width:100px ;margin-left: 5%;">@note.Title</p>
                    <p class="my-0 align-self-center">
                        @{
                            var timeDifference = DateTime.UtcNow - note.DateCreate;
                            int daysDifference = (int)timeDifference.TotalDays;
                            string textToShow = (daysDifference == 0) ? "Now" : $"Created {daysDifference} day{(daysDifference == 1 ? "" : "s")} ago";
                        }
                        @textToShow
                    </p>

                    <div>
                        <button data-id="@note.Id" class="toggleButton btn btn-sm btn-light" data-type="view" style="width:75px; font-size:12px; margin-right:10px">
                            <span>View note</span>
                        </button>
                        <button data-id="@note.Id" class="toggleButton btn btn-sm btn-light" style="width:75px; font-size:12px;" data-type="edit"><span>Edit note</span></button>
                    </div>
                </div>
                <div id="textNote/@note.Id" class="w-100 m-2" style="background-color:#fff;height: 200px; text-align:left; display:none; height:200px; overflow: auto;">
                    <p class="myNoteText">@note.Text</p>
                </div>

                @*Form For edit note*@
                <input style="display:none;" id="baseTitle/@note.Id" value="@note.Title" type="text" />
                <textarea style="display:none;" id="baseText/@note.Id">@note.Text</textarea>

                <form asp-action="EditNote" asp-controller="Home" method="post" class="w-100 m-2" id="formNote/@note.Id" style="display:none">
                    @Html.AntiForgeryToken()
                    <input name="id" value="@note.Id" style=" display:none;" />
                    <input name="title" id="titleNote/@note.Id" value="@note.Title" type="text" placeholder="Title New Note" class="my-0  m-2 align-self-center" required />
                    <textarea name="text" id="editTextNote/@note.Id" style=" height:200px;" class="w-100 m-2" required>@note.Text</textarea>
                    <button style="display:none;" id="confirmButton/@note.Id" class="toggleButton btn m-2 btn-sm btn-light" data-type="edit"><span class="small">Confirm changes</span></button>
                </form>
                   
                
            </li>
        }
    </ul>
</div>


@*Script for adding a note*@
<script src="~/js/addNewNote.js"></script>
@*Script for SignalR*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
@*Script for changing a note, viewing a note and appearing new notes via SignalR*@
<script src="~/js/mainFunctionForIndex.js"></script>

<script src="~/js/buttons.js"></script>